<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Result</title>
</head>
<body>
Voila!! You are in. Here are the details:

<br>

<!--<p th:text="'userId: ' + ${userModel.userId}" />-->
<p th:text="'First Name: ' + ${userModel.firstName}" />
<p th:text="'Last Name: ' + ${userModel.lastName}" />
<p th:text="'Email: ' + ${userModel.email}" />
<p th:text="'Phone Number: ' + ${userModel.phoneNumber}" />
<p th:text="'Country: ' + ${userModel.country}" />

<form action="/update-user" method="get">
    Wish to update the information? Then, go to:
    <button type="submit">Perform Updates</button>
</form>
</body>
</html>